body
{
  height: 100%;
  text-align:center;  
  background-image: linear-gradient(to right top, #bd93ec, #a98cec, #a866f3);
}
.login_div
{
	background: rgba(255,255,255,0.8);
  border-radius: 15px;
  margin-left: 10%;
  margin-right: 10%;
}
#login_button
{
	width: 80%;border-radius: 15px;
}
.container
{
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}
#user_name{
  width: 80%;
}